.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 216, 124);
    padding-inline: 10px;
}

.header nav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
    /* padding-top: 60px; */
    background-color: rgb(235, 216, 124);
    

}


nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.menu{
    font-size:1.7rem;
    cursor: pointer;
}
.logo {
  flex-basis: 150px;
   
}
@media screen and (min-width: 1024px) {  
.header{
    padding-inline: 20px;
}
.header nav {
    flex-direction: row;    
    position: static;
    width: 100%;
    overflow: visible;   
    transition: none;
    align-items: center;
}
  .menu,
  .close-btn {
    display: none;
  }
  nav a {
    font-size: 1.2rem;
    transition: none;
  }
  .logo{
    flex-basis: 250px;
  }
}