.location {
    padding-top:60px;
    background-color:rgb(255 222 60) ;
}

.location h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333333;
}
.map-container {
    width: 100%;
    height: 300px;
}
