/* .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  } */
:root[theme='dark'] {
  --background-color: #121212;
  --surface-color: #242424;
  --font-color-main: rgba(255, 255, 255, 0.87);
  --font-color-medium: rgba(255, 255, 255, 0.60);
  --font-color-disabled: rgba(255, 255, 255, 0.38);
  --font-on-primary-color-main: rgba(0, 0, 0, 0.87);
  --font-on-primary-color-dark-main: rgba(255, 255, 255, 0.87);
  --font-on-primary-color-dark-medium: rgba(255, 255, 255, 0.60);
  --font-on-primary-color-medium: rgba(0, 0, 0, 0.56);
  --font-on-primary-color-disabled: rgba(0, 0, 0, 0.38);
  --hover-color: rgba(255, 255, 255, 0.04);
  --focus-color: rgba(255, 255, 255, 0.12);
  --focus-color-solid: #424242;
  --background-color-disabled: rgba(255, 255, 255, 0.12);
  --background-color-level-4dp: rgba(255, 255, 255, 0.09);
  --background-color-level-16dp-solid: #262626;
  --background-color-card: var(--surface-color);
  --background-color-slight-emphasis: rgba(255, 255, 255, 0.05);
  --slider-track-color: rgba(255, 255, 255, 0.26);
  --switch-thumb-off-color: #bababa;
  --primary-color: #B39DDB;
  --primary-color-dark: #9575CD;
  --primary-color-numeric: 179, 157, 219;
  --primary-color-raised-hover-solid: #C2ACEA;
  --primary-color-raised-focus-solid: #DBC5FF;
  --secondary-color: #CDDC39;
  --secondary-color-hover-solid: #DCEB48;
  --secondary-color-focus-solid: #F5FF61;
  --secondary-container-color: #B39DDB;
  --font-on-secondary-container-color: rgba(255, 255, 255, 0.87);
  --md_sys_color_on-surface: 230, 225, 229;
}





 .manual{
  height: 200px;
 }

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(3, 109, 99, 0.2);
  
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #333;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: #333;
 
}

.tabs .indicator {  
  background-color: #00840f;  
}



/*Dark Mode concept:
Background (main)	#121212	Deep black-gray for minimal eye strain
Secondary Background	#1E1E1E	Used for cards and modular sections
Accent Color	#A3D9A5	Soft green inspired by nature and harmony
Primary Text	#E0E0E0	Light gray for optimal readability
Secondary Text	#B0B0B0	Subtle contrast for less important info
Action Buttons	#4CAF50 (Green)	Represents safety and natural guidance
Hover & Highlight	#66BB6A	Slightly brighter green to indicate activity
Borders/Dividers	#2C2C2C	Keeps structure without high contrast
Link Text	#81C784	Distinct but harmonious green tone