* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 16px;
}

body {
    /* width: 100vw; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header, nav, section, article, aside, hgroup, figcaption, figure, span, footer {
    display: block;    
}

img {
    max-width: 100%;
   
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
